[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = suggestion

# CA1028: Enum Storage should be Int32
dotnet_diagnostic.CA1028.severity = silent

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none
